body {
    font-family: "Open Sans Light", "Trebuchet MS", arial, sans-serif;
}

a:focus{
    outline: none;
}

.centerize {
    position: relative;
    margin: auto;
    text-align: center;
    width: 80%;
}

#internal {
    top: 80px;
}

#welcome {
    top: 150px;
}

#welcome .mainTitle {
    color: #606060;
    font-size: 50px;
    font-weight: 200;
}

#welcome .error {
    background-color: #FFAAAA;
    color: #230000;
    font-size: 30px;
    font-weight: 100;
}

#welcome #searchForm {
    text-decoration: none;
}

#welcomeSearchBar {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;
    box-shadow: 0px 0px 10px #E0E0E0;
    border-color: #E0E0E0;
    border-style: solid;
    border-width: 2px;
}

#welcomeSearchBar #queryField {
    background-color:transparent;
    border: 0px solid;
    padding: 20px;
    font-size: calc(10px + 0.5vw);
}

#welcomeSearchBar .searchHint {
    width: 100%;
}

#welcome input:focus {
    outline:none;
}

#welcome a {
    color: #006633;
    text-decoration: none;
}

#welcome .mui-panel {
    top: 80px;
    width: 65%;
    text-align: center;
}

#exampleText {
    color: #A0A0A0;
}

#exampleText a {
    color: #606060;
}

.paragraph {
    text-align: justify;
}

.paragraph .footnote {
    font-size: 75%;
}

.subscript {
    font-size: 75%;
    vertical-align: bottom;
}

.logoLarge img {
    width: 350px;
    height: 270px;
    border: none;
    float: center;
    margin: 20px 20px;
}

.searchBar {
    margin: 0px 15% 0px 15%;
    text-align: left;
    background-color: #EAEAEA;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 10;
}

.searchBar #searchForm {
    padding: 5px;
    display: block;
}

.mui-panel {
    padding: 10px;
    margin: 20px;
    display: inline-block;
    width: 100%;
}

.mui-panel .title {
    text-align: center;
    background-color: #CCFFCC;
    color: #006600;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.mui-table {
    margin: 0px 0px 0px 0px;
}

.mui-table--centered th {
    text-align: center !important;
}

.mui-table--centered tr {
    text-align: center;
}

/** autocomplete styles */

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #0066CC; display: block; border-bottom: 1px solid #000; }

/** openTECR data table */

table.thermoDataTable {
  border: 2px solid midnightblue;
  background-color: #EEE7DB;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.thermoDataTable td, table.thermoDataTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.thermoDataTable tbody td {
  font-size: 13px;
}
table.thermoDataTable tr:nth-child(even) {
  background: #BFC8F5;
}
table.thermoDataTable thead {
  background: #0808A4;
}
table.thermoDataTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #0808A4;
}
table.thermoDataTable thead th:first-child {
  border-left: none;
}

table.thermoDataTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  background: #0808A4;
}
table.thermoDataTable tfoot td {
  font-size: 12px;
}
table.thermoDataTable tfoot .links {
  text-align: right;
}
table.thermoDataTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #0808A4;
  padding: 2px 8px;
  border-radius: 5px;
}