.warning {
    background-color: #FFF1A8;
}

.warning {
    border-radius: 5px;
    font-weight: bold;
    margin: 10px auto;
    padding: 3px;
    max-width: 450px;
}

.missingCount {
    color: #ff3b3b;
}

.parsedRxn {
    color: #dddddd;
    background-color: midnightblue;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    width: 70%;
    text-align: center;
    position: relative;
    padding: 5px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-radius: 20px;
	transition: 0.5s;
}

input:checked + label {
	background: #DAB5F7;
}

input:checked + label:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 0px;
}

