{% load static %}
<html>
<head>
    <title>{{ title }}</title>
    <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "jquery-ui.structure.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "jquery-ui.theme.min.css" %}" rel="stylesheet" type="text/css">
    <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>
    <script type="text/javascript" src="{% static "jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery.autocomplete.min.js" %}"></script>
    <script type="text/javascript" src="{% static "main.js" %}"></script>
</head>
<body>
