{% load static %}
{% include "header.html" %}

<div class="centerize" id="welcome">
<div class="mainTitle">
    Welcome to the openTECR search
</div>
<div id="exampleText">
    <p id="opentecr_message">
        Want to help improve eQuilibrator?
    </p>
    <p>
        <a id="opentecr_link" href="/static/open_tecr/invitation_to_curate_nistdb.html">openTECR</a>
    </p>
</div>  <!-- id="exampleText" -->

<form name="searchForm" class="mui-form--inline" action="/search" method="get">
    <div id="welcomeSearchBar">
        <input type="text" name="query" class="searchHint" id="queryField" placeholder='Type a reaction formula (using "=" to separate the two sides)' />
    </div> <!-- id="welcomeSearchBar" -->
</form>  <!-- name="searchForm" -->

</div>  <!-- class="centerize" id="welcome" -->

<script>
    if (Math.random() > 0.5) {
        document.getElementById("opentecr_message").innerHTML = "Do you want to help us curate data?";
        document.getElementById("opentecr_link").href = "https://opentecr.github.io/invitation-to-curate/";
        document.getElementById("opentecr_link").innerHTML = "Join the openTECR community";
        document.getElementById("opentecr_link").onclick = "gtag('event','click_linka');";
    } else {
        document.getElementById("opentecr_message").innerHTML = "Do you want to contribute more data?";
        document.getElementById("opentecr_link").href = "https://docs.google.com/forms/d/e/1FAIpQLSfBc2llNT9zPskW9QhMuP1fIZy3IN92-fL_Rnp4NGAvtbAo1Q/viewform?usp=sf_link";
        document.getElementById("opentecr_link").innerHTML = "Submit new data to openTECR";
        document.getElementById("opentecr_link").onclick = "gtag('event','click_linkb');";
    }
</script>

{% include "footer.html" %}

