{% load static %}
{% with title="Reaction" %}
    {% include "header.html" %}
{% endwith %}

    <div class="centerize" id="internal">
        <form name="searchForm" class="mui-form--inline" action="/search" method="get">
            <div id="welcomeSearchBar">
                <input type="text" name="query" class="searchHint" id="queryField" placeholder='Type a reaction formula (using "=" to separate the two sides)' />
            </div> <!-- id="welcomeSearchBar" -->
        </form>  <!-- name="searchForm" -->

        {% if reaction.is_reactant_formula_missing %}
            <div class="warning">Cannot estimate &Delta;<sub><i>r</i></sub>G' because some of the compounds don't have an explicit chemical formula</div>
            {% include "parsed_reaction.html" %}
            The following compounds do not have an explicit chemical formula:
            <ul>
                {% for compound in reaction.reactants_with_missing_formula %}
                    <li>{{ compound }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if reaction.is_empty %}
                <div class="warning">Emtpy reaction!</div>
            {% else %}

                {% if not reaction.is_balanced and not reaction.is_half_reaction %}
                    <div class="warning">Reaction is not balanced!
                    {% if balance_with_water_link %}
                        <a href="{{ balance_with_water_link }}">Balance with H<sub>2</sub>O</a>?
                    {% endif %}
                    {% if balance_with_coa_link %}
                        <a href="{{ balance_with_coa_link }}">Balance with CoA</a>?
                    {% endif %}
                    {% if balance_with_pi_link %}
                        <a href="{{ balance_with_pi_link }}">Balance with phosphate</a>?
                    {% endif %}
                    </div>
                    {% include "parsed_reaction.html" %}
                {% else %}
                    {% if reaction.is_half_reaction %}
                        <div class="warning">
                            This is a
                                {% if reaction.extra_electrons %}reduction{% else %}oxidation{% endif %}
                            half-reaction
                            <a href="{{ balance_electrons_link }}">Balance with NAD<sup>+</sup>/NADH</a>?
                        </div>
                    {% endif %}
                    {% include "parsed_reaction.html" %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

{% include "footer.html" %}

