{% load static %}
{% include "header.html" %}

<div class="centerize" id="internal">
	<div class="error">
		Found no results for your search query, please try again
	</div>

	</br></br>

	<form name="searchForm" class="mui-form--inline" action="/search" method="get">
		<div id="welcomeSearchBar">
			<input type="text" name="query" class="searchHint" id="queryField" placeholder='Type a reaction formula (using "=" to separate the two sides)' />
		</div> <!-- id="welcomeSearchBar" -->
	</form>  <!-- name="searchForm" -->
</div>

{% include "footer.html" %}